.navigation {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 10px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navigation li {
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.activeLink {
  color: #ff0000;
}
